<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <preference for="DvCampus\CustomerPreferences\Api\Data\PreferenceInterface"
                type="DvCampus\CustomerPreferences\Model\PreferenceData"
    />
    <preference for="DvCampus\CustomerPreferences\Api\Data\PreferenceSearchResultInterface"
                type="DvCampus\CustomerPreferences\Model\PreferenceSearchResult"
    />
    <preference for="DvCampus\CustomerPreferences\Api\PreferenceRepositoryInterface"
                type="DvCampus\CustomerPreferences\Model\PreferenceRepository"
    />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="preferences_listing_data_source" xsi:type="string">DvCampus\CustomerPreferences\Model\ResourceModel\Preference\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="DvCampus\CustomerPreferences\Model\ResourceModel\Preference\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult"
    >
        <arguments>
            <argument name="mainTable" xsi:type="string">dv_campus_customer_preferences</argument>
            <argument name="resourceModel" xsi:type="string">DvCampus\CustomerPreferences\Model\ResourceModel\Preference</argument>
        </arguments>
    </virtualType>
</config>