<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="dv_campus_catalog" frontName="dv-campus-catalog-url">
            <module name="DvCampus_Catalog" />
        </route>
    </router>
</config>
