<form class="form"
      action="javascript:void(0);"
      id="dv-campus-customer-preferences-form"
      method="post"
      onsubmit="return false;"
      data-bind="submit: savePreferences, afterRender: initModal"
>
    <fieldset class="fieldset">
        <legend class="legend">
            <span translate="'Edit Preferences'"></span>
        </legend>
        <br/>
        <div class="field note no-label" data-bind="i18n: 'Available settings:'"></div>
        <div class="field" repeat="foreach: attributes, item: '$attribute'">
            <label class="label" data-bind="attr: { for: 'customer-preferences-' + $attribute().attribute_code }">
                <span text="$attribute().attribute_label" />
            </label>
            <div class="control">
                <input data-bind="
                        value: $attribute().value,
                        attr: {
                            id: 'customer-preferences-' + $attribute().attribute_code,
                            name: $attribute().attribute_code,
                            title: $attribute().attribute_label,
                            placeholder: $attribute().attribute_label
                        }
                    "
                    class="input-text"
                    type="text"
                />
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <!-- @TODO: add validation -->
            <input type="hidden" name="hideit" id="hideit" value=""/>
            <button type="submit"
                    class="action submit primary"
                    data-bind="attr: { title: $t('Save') }"
            >
                <span translate="'Save'"></span>
            </button>
        </div>
    </div>
</form>